# Drizzle
# For local development use localhost:5432
# For docker-compose deployment use pos_db:5432
DATABASE_URL=postgres://user:password@pos_db:5432/clothing_pos

# Admin Bootstrap
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me_immediately

# Security
APP_SECRET_HEADER=auto-pos-secret-handshake-2026

# PowerSync
VITE_POWERSYNC_URL=https://anchorshop.cloud:8080
# Keys are JSON strings of JWKs (RS256)
POWERSYNC_PRIVATE_KEY=
POWERSYNC_PUBLIC_KEY=
